<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/">Website thương mại điện tử</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Thanh menu -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <!--Nạp danh mục và danh sách sản phẩm-->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Tất cả sản phẩm</a>
            </li>

            <!--Danh sách các sản phẩm-->
            {% for c in categories %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', category_id=c.id) }}">{{ c.name }}</a>
            </li>
            {% endfor %}

            <!--Đăng ký tài khoản-->
            <li class="nav-item">
                <a class="nav-link text-danger" href="{{ url_for('user_register') }}">Đăng ký</a>
            </li>

        </ul>
    </div>

    <!--Ô tìm kiếm sản phẩm-->
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" name="keyword" placeholder="Nhập từ khoá tìm kiếm">
        <button class="btn btn-success" type="submit">Tìm kiếm</button>
    </form>

</nav>
